<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
  </head>
  <body>
    <div>
      <h1>Bacon Box Office</h1>
      <div class="test">
        <p>Movie List:</p>
        <nav><ul id="myList"></ul> </nav>
      </div>
      <div class="test">
        <p>Subtitle List:</p>
        <nav><ul id="subList"></ul> </nav>
      </div>
      <div class="test">
        <p>Control:</p>
        <button onClick="playVideo()">Start</button>
        <button onClick="pauseVideo()">Pause</button>
        <button onClick="stopVideo()">Stop</button>
      </div>
    </div>
  </body>
</html>
