<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
  </head>
  <body>
    <div>
      <h1>Bacon Box Office</h1>
      <p>Movie List:</p>
      <nav><ul id="myList"></ul> </nav>
      <p>Subtitle List:</p>
      <nav><ul id="subList"></ul> </nav>
      <p>Control:</p>
      <button class="button button1", onClick="playVideo()">Start</button>
      <button class="button button2", onClick="pauseVideo()">Pause</button>
      <button class="button button3", onClick="stopVideo()">Stop</button>
    </div>
  </body>
</html>
