/* * { */
/*   margin: 0; */
/*   padding: 0; */
/*   box-sizing: border-box; */
/* } */

* {
  scrollbar-width: none;
}
::-webkit-scrollbar {
    display: none;
}

body {
  background-color: white;
  color: coral;
  font-family: "Roboto", sans-serif;
  margin: 20px;
  overflow: hidden;
}

.container {
  width: 300px;
  margin: 0 auto;
}

.tabs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.tabs button {
  font-size: 0.8em;
  opacity: 0.6;
  border: none;
  cursor: pointer;
  padding: 5px;
  width: 100%;
  /* transition: all 0.5s ease-out; */
}

.tabs button:disabled {
  opacity: 1;
  background-color: white;
  color: coral;
  border-bottom: 2px solid coral;
}

nav {
  height: 420px;
  width: 100%;
  overflow: hidden;
  overflow-y: scroll;
  margin-bottom: 10px;
}

.stuff ul {
  width: 100%;
  /* display: inline-block; */
  margin: 0;
  padding: 0;
}

.stuff li {
  padding: 10px;
  overflow: auto;
}
 
.stuff li:hover {
  background: #eee;
  cursor: pointer;
}

.stuff li h3 {
  font: bold 15px/1.5 Helvetica, Verdana, sans-serif;
}
 
.stuff li img {
  float: left;
  margin: 0 15px 0 0;
  width: 100px;
  height: 150px;
}
 
.stuff li p {
  font: 200 10px/1.5 Georgia, Times New Roman, serif;
}

.progress {
  /* width: 20px; */
  display: flex;
  margin-bottom: 20px;
}

.progress p {
  font-size: 0.8em;
}

.progress input {
  width: 100px;
  margin: 0px 10px 0px 10px;
}

.info {
  text-align: left;
  font-size: 0.6em;
  margin-bottom: 20px;
}

.upper-bold {
  text-transform: uppercase;
  font-weight: bold;
}

.col-a {
  color: white;
  background-color: coral;
}

.col-b {
  color: coral;
  background-color: white;
}

.play-wrapper {
  display: grid;
  justify-content: center;
}

.myimg {
  width: 150px;
  height: 225px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.play-label {
  font-size: 0.7em;
  border: 0px solid coral;
  margin-bottom: 5px;
}

.play-select {
  border: 1px solid coral;
  font-size: 0.7em;
  margin-bottom: 20px;
  padding: 5px;
  width: 300px;
}

.play-button {
  border: 1px solid coral;
  font-size: 0.8em;
  padding: 8px 5px;
  width: 97px;
}

.play-button:hover {
  background-color: white;
  color: coral;
}

.wrapper2 {
  display: flex;
  justify-content: space-between;
}
